body {
  margin: 0;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e9eb;
}

#list-container {
  min-width: 36vw;
  display: grid;
  grid-template-columns: 80% auto;
  background: #fff;
  border: 1.8px solid #b0b4b9;
  align-items: flex-end;
}

#title {
  grid-column: 1/2;
  font-size: 22px;
  margin-left: 1rem;
}

.fa-arrows-rotate,
#enter {
  justify-self: flex-end;
  color: #989fa7;
  grid-column: 2/3;
  margin-right: 1rem;
}

.fa-arrows-rotate {
  align-self: center;
}

#enter {
  grid-row: 2/2;
  align-self: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

#task {
  align-self: flex-start;
  grid-column: 1/3;
  grid-row: 2/2;
  padding: 1rem;
  border: 1.8px solid #b0b4b9;
  border-right: none;
  border-left: none;
  outline: none;
}

#task::placeholder {
  font-size: 17px;
  font-style: italic;
}

#list {
  list-style: none;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.checkbox {
  margin-left: 1rem;
  pointer-events: auto;
}

.task {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

path {
  pointer-events: none;
}

.dots-container {
  margin-left: auto;
  margin-right: 1rem;
}

#clear {
  grid-column: 1/3;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 17px;
  border-top: 1px solid #b0b4b9;
  cursor: pointer;
}

#clear:hover {
  text-decoration: underline;
}

.description {
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.completed {
  text-decoration: line-through;
}

.fa-ellipsis-vertical:hover {
  cursor: all-scroll;
}

.fa-trash-can:hover {
  cursor: pointer;
}

.bg-yellow {
  background-color: lightyellow;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  background: none;
}
